{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}

<h1>Edit Post</h1>

<form method="POST" action="/posts/{{post.id}}/edit">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" value="{{post.title}}">
    <label for="content">Content</label>
    <input id="content" name="content" type="text" value="{{post.content}}">
    
    {% for tag in tags %}
    <div>
      <input type="checkbox"
             value="{{ tag.id }}"
             id="{{ tag.id }}"
             {% if tag in post.tags %}checked{% endif %}
             name="tags">
      <label for="{{ tag.id }}">
        {{ tag.name }}
      </label>
    </div>
    {% endfor %}
    
    <a href="/posts/{{post.id}}">Cancel</a>
    <button type="submit">Edit</button>
</form>

{% endblock %}