{% extends 'base.html' %}

{% block title %}Create Tag{% endblock %}

{% block content %}

<h1>Create a tag</h1>

<form method="POST">
    <label for="tagname">Name</label>
    <input id="tagname" name="tagname" type="text" placeholder="Enter a name for the tag">
    {% for post in posts %}
      <input type="checkbox"
             value="{{ post.id }}"
             id="post_{{ post.id }}"
             name="posts">
      <label for="post_{{ post.id }}">
        {{ post.title }}
      </label>
    {% endfor %}
    <a href="/tags">Cancel</a>
    <button type="submit">Add</button>
</form>

{% endblock %}