{% extends 'base.html' %}

{% block title %}{{user.full_name}}{% endblock %}

{% block content %}

  {% if user.image_url %}
    <img src="{{user.image_url}}" alt="{{user.full_name}}">

  {% endif %}

  <h1>{{user.full_name}}</h1>

  <form action="/users/{{user.id}}/edit" method="GET">
    <button>Edit</button>
  </form>
  <form  action="/users/{{user.id}}/delete" method="POST">
    <button>Delete</button>
  </form>
  <h2>Posts</h2>
  <ul>
    {% for post in user.posts %}
    <li>
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </li>
    {% endfor %}
  </ul>

  <p><a href='/users/{{user.id}}/posts/new'>Add Post</a></p>

{% endblock %}
